<div *ngFor="let quiz of localAllQuizzes">
  <!-- Title -->
  <h1>{{quiz?.title}}</h1>
  <!-- Description -->
  <p><b>Description: </b>{{quiz?.description}}</p>
  <!-- T/F Question 1 -->
  <h3><b>True or False Section:</b></h3>
  <p>Q1:{{quiz?.TrueFalse_Question1}}</p>
  <!-- T/F Question 2 -->
  <p>Q2:{{quiz?.TrueFalse_Question2}}</p>
  <!-- T/F Question 3 -->
  <p>Q3:{{quiz?.TrueFalse_Question3}}</p>
  <!-- Multiple Choice Question 1 -->
  <h3>Multi_Choice_Question 1:</h3>
  {{quiz.MultipleChoice_Multi_Question1}}
  <!-- Multiple Choice Answers (1 of 4) -->
  <div *ngFor="let item of quiz?.MultipleChoice_Multi_Question1">
    <p>A1: {{item?.A1}}</p>
    <p>A2: {{item?.A2}}</p>
    <p>A3: {{item?.A3}}</p>
    <p>A4: {{item?.A4}}</p>
  </div>
  <!-- Short Answer Question -->
  <h3>Short Answer Section:</h3>
  <p> {{quiz?.ShortAnswer}}</p>
  <button type="button" class="btn btn-primary"
        tooltip="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
  Button
</button>
</div>
